.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  padding: 8px 16px;
  background-color: #ffc107;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table-wrapper {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; 
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.logo-img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
}

.menu-icon {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rows-per-page {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 18px;
  color: #ccc;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}

.page-link:hover {
  background-color: #e9ecef;
  color: #0056b3;
}

.page-link.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  pointer-events: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
  min-width: 150px;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 480px) {
  .menu-icon {
    font-size: 20px;
  }

  .dropdown-menu {
    min-width: 120px;
    position: relative;
  }

  .dropdown-menu ul li {
    padding: 8px;
  }
}


@media (max-width: 768px) {
  .table-container {
    padding: 10px;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .table-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-button {
    width: 100%;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  table {
    min-width: 600px; 
  }
}
